.App {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.App-link {
  color: #61dafb;
}
.title {
  text-align: center;
  width: 100%;
}
.gate1 {
  position: absolute;
  left: 25%;
  top: 0;
  font-weight: bold;
  background: #fff;
  padding: 10px;
  border: 1px solid gray;
}
.gate2 {
  position: absolute;
  top: 0;
  font-weight: bold;
  background: #fff;
  padding: 10px;
  border: 1px solid gray;
}
.gate3 {
  position: absolute;
  right: 25%;
  top: 0;
  font-weight: bold;
  background: #fff;
  padding: 10px;
  border: 1px solid gray;
}
.gate4 {
  position: absolute;
  left: 0;
  top: 50%;
  font-weight: bold;
  background: #fff;
  padding: 10px;
  border: 1px solid gray;
}
.gate5 {
  position: absolute;
  right: 0;
  top: 50%;
  font-weight: bold;
  background: #fff;
  padding: 10px;
  border: 1px solid gray;
}
.gate6 {
  position: absolute;
  left: 25%;
  bottom: 0;
  font-weight: bold;
  background: #fff;
  padding: 10px;
  border: 1px solid gray;
}
.gate7 {
  position: absolute;
  bottom: 0;
  font-weight: bold;
  background: #fff;
  padding: 10px;
  border: 1px solid gray;
}
.gate8 {
  position: absolute;
  right: 25%;
  bottom: 0;
  font-weight: bold;
  background: #fff;
  padding: 10px;
  border: 1px solid gray;
}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(204, 204, 204, 0.507);
  border-radius: 1rem;
  align-items: center;
  height: 4rem;
  margin: 1rem;
  justify-content: space-between;
  width: 90%;
  padding: 0 1rem;
}
.headers {
  padding: 0;
  margin: 10px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.characters {
  list-style: none;
  padding-left: 0;
}

.characters li {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #d0d0d0;
  border-radius: 0.2em;
  padding: 4px;
  width: 3rem;
  height: 3rem;
  margin-bottom: 1em;
  background-color: gray;
}
.square {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 10px;
  width: 48rem;
  margin: 0 auto;
  height: 48rem;
}
.characters p {
  max-width: none;
  font-weight: bold;
  margin: 0;
}
