.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe8d6;
}

.wrapper {
  padding: 2rem;
  width: 30rem;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #f1faee;
}

.title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.signin {
  text-align: center;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.aggreement {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  margin: 10px 0;
  padding: 0 1rem;
}

.privacy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: #463f3a;
  font-size: 12px;
}
