.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh !important;
  justify-content: flex-start;
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
}
.storeName {
  color: #fff;
  padding: 0 10px;
}
.notFound {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  gap: 1rem;
}
.list {
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 6px;
  gap: 6px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}
.logo {
  object-fit: contain;
  width: 4rem;
  height: auto;
}
.listItem {
  height: 8rem;
  border: 2px solid #001219;
  display: flex;
  cursor: pointer;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: center;
}
.img {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}
.title {
  color: #ffe8d6;
  position: absolute;
}
.titleBack {
  position: absolute;
  text-align: center;
  backdrop-filter: blur(4px);
  backdrop-filter: sepia(50%);
  height: 3rem;
  background-color: rgba(0, 18, 25, 0.5);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
  width: 100%;
  background-color: #c9184a;
  position: relative;
  height: 6rem;
  top: 0;
  z-index: 2;
  left: 0;
}

.logo {
  object-fit: contain;
  width: 5rem;
  height: auto;
}

.nav {
  color: #ffe8d6;
  backdrop-filter: blur(2px);
}
.navList {
  background-color: #023047;
  display: flex;
  color: #f1faee;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  padding: 1rem;
  margin: 0;
  height: 100%;
  gap: 4px;
  font-size: 14px;
}
.navList li {
  border-bottom: 1px solid gray;
  width: 100%;
  line-height: 14px;
  cursor: pointer;
  color: #ffe8d6;
}

@media only screen and (max-width: 500px) {
  .notFound {
    flex-direction: column;
    font-size: 10px;
  }
}
