.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 2rem;
}

.input {
  margin-bottom: 12px;
}

.bottom {
  display: flex;
  gap: 1rem;
}

@media only screen and (max-width: 500px) {
  .container {
    display: flex;
    min-height: 460px;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
