.container {
  width: 100%;
  height: 100% !important;
  min-height: 90vh;
}
.app {
  width: 100%;
  height: 100%;
  padding: 2rem 16rem;
  display: grid;
  grid-template-columns: 7fr 3fr;
  align-items: center;
  justify-content: center;
}
.aboutUs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.hourButtons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 16rem;
  width: 100%;
  overflow: auto;
  gap: 1rem;
}
.hourButtons::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: #f5f5f5;
}

.hourButtons::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.hourButtons::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.centeredHeader {
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 6px 0 4px 0;
  color: #000814;
}
.storeAddress {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 1rem 0;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}
.workingTimes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
.day {
  color: #2b2d42;
  min-width: 7rem;
  margin: 0;
  padding: 8px 0;
  font-size: 14px;
}
.buttons {
  height: 3rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px !important;
}
.hours {
  font-size: 14px;
  color: #006d77;
  min-width: 6rem;
}
.dayClose {
  color: #83c5be;
  min-width: 7rem;
  margin: 0;
  padding: 8px 0;
  font-size: 14px;
}
.hoursClose {
  font-size: 14px;
  width: 100%;
  text-align: center;
}
.storeContact {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 1rem 0;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
}
.menu,
.photos {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 0;
  width: 100%;
  min-height: 12rem;
}
.aboutUs {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 1rem 0;
  width: 100%;
  min-height: 12rem;
}
.left {
  width: 100%;
  height: 100%;
  padding: 0 4rem;
}
.gallery {
  margin: 1rem 0;
}
.right {
  width: 100%;
  padding: 0 4rem;
  border-left: 1px solid #e5e5e5;
  height: 100%;
}

.list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.li {
  text-align: left;
}
.storeNavBar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  margin: 1rem 0;
  padding: 0;
}
.galleryBottomImages {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.titleAndLogo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.storeName {
  color: #000814;
  padding: 0;
  margin: 6px 0;
}
.logo {
  border-radius: 50%;
}
.address {
  color: gray;
  padding: 0 0 6px 0;
  margin: 0;
}
.bodyRight {
  border-left: 1px solid lightgray;
}
.workingTimesTable {
  padding: 0 3rem;
}

@media only screen and (max-width: 1280px) {
  .storeName {
    font-size: 20px;
  }
  .address {
    font-size: 14px;
  }
  .menuButtons {
    font-size: 13px;
  }
  .workingTimesTable {
    padding: 0 2rem;
  }
  .day {
    font-size: 13px;
  }
  .hours {
    font-size: 12px;
  }
  .workingTimesHeader {
    font-size: 16px;
  }
  .app {
    padding: 2rem;
  }
  .buttons {
    font-size: 13px;
  }
}

@media only screen and (max-width: 900px) {
  .app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .right {
    width: 100%;
    padding: 0 4rem;
    border-left: none;
    height: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .left {
    padding: 0;
  }
  .app {
    padding: 20px;
  }
  .buttons {
    font-size: 12px;
  }
  .menuButtons {
    font-size: 12px;
  }
  .aboutUs {
    flex-direction: column;
    margin: 1rem auto;
    padding: 0 4px;
  }
  .bodyRight {
    border-left: none;
  }
  .bodyRight {
    width: 100%;
  }
  .workingTimesTable {
    padding: 0;
  }
  .right {
    padding: 0 4px;
  }
}
