.container {
  width: 100%;
  min-height: 100vh;
}
.grids {
  overflow: scroll !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;
}
.grid {
  height: 14rem !important;
}
