.navbar {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 6fr 2fr;
  justify-items: center;
  background: transparent;
  backdrop-filter: blur(12px);
  width: 100%;
  height: 5rem;
  position: fixed;
  background-color: #c9184a;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  left: 0;
}

.logo {
  object-fit: contain;
  width: 5rem;
  height: auto;
}

.nav {
  color: #14213d;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 100vh !important;
  padding-top: 6rem;
}
.back {
  font-size: 10px;
  padding-left: 4px;
  color: #f7ede2;
}
.textListDesc {
  font-size: 10px;
}
.textListItem {
  display: flex;
  cursor: pointer;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.title {
  cursor: pointer;
  border-bottom: 1px solid gray;
  padding: 0 0 10px 0;
  width: 100%;
  margin: 0;
}
.textList {
  list-style: none;
  width: 90%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  border: 1px solid lightgray;
  margin: 10px auto;
  border-radius: 1rem;
}
.textListName,
.textListPrice {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.list {
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  margin: 0;
}

.listItem {
  border: 1px solid lightgray;
  display: flex;
  cursor: pointer;
  width: 100%;
  height: 14rem !important;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 1rem 1rem 0 0;
  justify-content: space-between;
}

.img {
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 140px;
}

.name {
  font-size: 14px;
  color: #14213d;
  margin: 0;
  padding: 10px 10px 0 10px;
  overflow: scroll;
  max-width: 10rem;
}

.price {
  font-weight: 600;
  color: #fb8500;
  padding: 10px;
  margin: 0;
}

.navList {
  background-color: #023047;
  display: flex;
  color: #f1faee;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  padding: 2rem 1rem;
  gap: 21px;
  font-size: 14px;
  margin: 0;
  height: 100%;
}

.modalDesc {
  padding: 0 1rem;
}
.titles {
  width: 100%;
  cursor: pointer;
}
.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  color: #ffe8d6;
  background-color: #023047;
}
.modalImage {
  width: 100%;
  height: 16rem;
  object-fit: cover;
}

.navList li {
  border-bottom: 1px solid gray;
  width: 100%;
  line-height: 14px;
  cursor: pointer;
  color: #ffe8d6;
}
