.container {
  width: 100%;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7rem;
  gap: 2rem;
  padding: 0 10px;
  cursor: pointer;
  border: 1px solid lightgray;
  transition: all ease 0.3s;
}

.cell:hover .deleteIcon {
  display: inline-block !important;
}
.cell:hover {
  background-color: #e5e5e5;
}
.sidebar {
  min-width: 11vw;
  height: 93vh;
  background-color: #22223b;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0;
  gap: 1rem;
  overflow: auto;
  flex-direction: column;
}
.sidebarHeader {
  color: #fbeee0;
  text-align: center;
}
.list {
  width: 100%;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32rem;
  overflow: auto;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
}
.header {
  padding: 1rem;
  margin: 0;
  width: 100%;
  color: #001219;
  text-align: start;
  font-size: 16px;
}
.desc {
  font-size: 14px;
}
.sidebarList {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.li {
  color: #fbeee0;
  text-align: center;
}
.app {
  width: 89vw;
  height: 93vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.capacity {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.capacity:hover .editIcon {
  display: block !important;
  position: absolute;
  top: calc(50% - 10px);
  color: #bc6c25;
}
.capacity:hover .capacityHeader {
  opacity: 0.1;
}
.capacity:hover .capacityDesc {
  opacity: 0.1;
}
.capacity:hover {
  background-color: #ffcad4;
}
.side {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.capacityHeader {
  margin: 0;
  padding: 6px 0;
  font-size: 16px;
  width: 100%;
  text-align: center;
}
.header {
  margin: 0;
  padding: 6px 0;
  font-size: 16px;
  width: 100%;
  text-align: center;
}
.desc {
  margin: 0;
  padding: 6px 0;
}
.capacityDesc {
  margin: 0;
  padding: 6px 0;
}
.copy {
  min-width: 11rem !important;
  max-width: 11rem !important;
  overflow: hidden;
  color: #fff !important;
  border: 1px solid #fff !important;
}
.buttons {
  color: #edf2f4 !important;
  margin: 0 10px !important;
  border: 1px solid #edf2f4 !important;
}
.buttonHeader {
  min-width: 7rem;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.topBar {
  width: 100%;
  background-color: #edf6f9;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}
.body {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.logo {
  border-radius: 50%;
}
.logoDiv {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  transition: all 0.3 ease;
}
.cameraIcon {
  transition: all 0.3 ease;
}

.logoDiv:hover .cameraIcon {
  display: inline-block !important;
  position: absolute;
  top: calc(50% - 10px);
  color: white;
}

@media only screen and (max-width: 1280px) {
  .sidebar {
    min-width: 13vw;
  }
  .header {
    font-size: 14px;
  }
  .app {
    width: 87vw;
  }
}

@media only screen and (max-width: 900px) {
  .sidebar {
    min-width: 18vw;
  }
  .app {
    width: 82vw;
  }
  .topBar {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 840px) {
  .header {
    font-size: 13px;
  }

  .sidebar {
    min-width: 20vw;
  }
  .app {
    width: 80vw;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: normal;
  }
  .sidebar {
    width: 100vw;
  }
  .topBar {
    flex-direction: column;
    height: 100%;
    padding: 1rem 0;
  }
  .app {
    width: 100vw;
  }
  .header {
    font-size: 10px;
  }

  .body {
    width: 100%;
    height: 24rem;
    background-color: #fff;
  }
}
