.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}

.image {
  object-fit: contain;
  width: 12rem;
  height: 12rem;
}

.top {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 12rem;
  padding: 12rem 0;
  width: 100%;
  height: 100vh;
  background-color: #f1faee;
}

.topLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 30rem;
}

.header {
  line-height: 0;
  font-size: 36px;
  letter-spacing: 1px;
  color: #e63946;
}
