.navbar {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 6fr 2fr;
  justify-items: center;
  background: transparent;
  backdrop-filter: blur(12px);
  width: 100%;
  height: 5rem;
  position: fixed;
  background-color: #023047;

  top: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  left: 0;
}

.logo {
  object-fit: contain;
  width: 4rem;
  height: auto;
}

.nav {
  color: #14213d;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
}
.back {
  font-size: 10px;
  padding-left: 4px;
  color: #f7ede2;
}
.list {
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.listItem {
  min-height: 10rem;
  border: 1px solid lightgray;
  background-color: #f7ede2;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  justify-content: flex-start;
}

.img {
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 140px;
}

.name {
  font-size: 14px;
  color: #14213d;
}

.bottom {
  width: 100%;
  padding: 0 10px;
}

.price {
  font-weight: 600;
  color: #fb8500;
}

.navList {
  background-color: #023047;
  display: flex;
  color: #f1faee;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  padding: 1rem;
  gap: 4px;
  font-size: 14px;
}
.navList a {
  border-bottom: 1px solid gray;
  width: 100%;
  line-height: 14px;
  color: #ffe8d6;
}
.modalDesc {
  padding: 0 1rem;
}
.titles {
  width: 100%;
  cursor: pointer;
}
.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  color: #ffe8d6;
  background-color: #023047;
}
.modalImage {
  width: 100%;
  height: 16rem;
  object-fit: cover;
}
