.datatable {
  padding: 1rem 20px;
  height: 100vh;
  overflow: scroll;
}

.datatableTitle {
  width: 100%;
  font-size: 24px;
  color: #001219;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  padding: 4px 0;
}

.link {
  text-decoration: none;
  color: green;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid green;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.viewButton {
  padding: 4px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.viewIcon {
  color: #264653;
}

.deleteButton {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  background: tranparent;
}

.deleteIcon {
  color: #e63946;
}
.actions {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.delete {
  padding: 10px 12px;
  background-color: #e63946;
  color: #eee;
  border: none;
  border-radius: 4px;
  margin: 20px 4px 0 4px;
  cursor: pointer;
}

.discard {
  padding: 10px 12px;
  background-color: #eee;
  color: black;
  border: 1px solid gray;
  border-radius: 4px;
  margin: 20px 4px 0 4px;
  cursor: pointer;
}

.modalFooter {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 1rem;
}

.modalHeader {
  padding: 1rem 1rem 10px 1rem;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.modalBody {
  padding: 10px 1rem 1rem 1rem;
  color: #343a40;
}
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border-radius: 4px;
  height: 220px;
  background-color: #eee;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.box2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border-radius: 4px;
  height: 520px;
  background-color: #eee;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.title {
  margin: 0;
  padding: 0;
}
.button {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 0.375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 1rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(0.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button:active {
  border-color: #4a4a4a;
  outline: 0;
}

.button:focus {
  border-color: #485fc7;
  outline: 0;
}

.button:hover {
  border-color: #b5b5b5;
}

.button:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, 0.25) 0 0 0 0.125em;
}

.inputs {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.tableDiv {
  width: 100%;
  height: 48rem;
}
.table {
  overflow: scroll;
  width: 100%;
}
@media only screen and (max-width: 1280px) {
  .table {
    font-size: 12px !important;
  }
  .tableDiv {
    width: 100%;
    height: 36rem;
  }
}
