.container {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  background-color: #fff;
  overflow: auto;
  border: none;
}

.title {
  margin: 0;
  padding: 3rem 2rem 1rem 2rem;
  color: #001219;
}
.buy {
  background-color: #14213d;
  padding: 10px 3rem;
  border-radius: 1rem;
  color: #e5e5e5;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.expired {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}
.button {
  outline: none;
  width: 7rem;
  height: 2rem;
  border: 2px solid #000;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  transition: all 0.3s ease;
}

.button:hover {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}

.subtitle {
  margin: 0;
  padding: 0;
  color: #001219;
}

.panel {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
  padding: 1rem 2rem;
  background-color: #f2e9e4;
  margin: 1rem;
  border-radius: 1rem;
  justify-content: flex-start;
}

.orderNotFoundImage {
  width: 10rem;
  display: flex;
}
.orderNotFound {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.panel {
  display: flex;
  flex-direction: row;
}
.infos {
  display: flex;
  gap: 2rem;
  font-size: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
}
.infoCell {
  min-width: 12rem;
}
.info {
  background-color: #ffe8d6;
  padding: 1rem;
  border-radius: 4px;
}
@media only screen and (max-width: 1280px) {
  .title {
    margin: 2rem 1rem;
    padding: 0;
  }
  .infos {
    font-size: 14px;
  }
  .panel {
    gap: 2rem;
  }
  .buy {
    padding: 1rem 2rem;
  }
}
@media only screen and (max-width: 1060px) {
  .container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .expired {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 1rem 1rem 1rem;
    padding: 0 1rem;
  }
}
@media only screen and (max-width: 500px) {
  .infos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 14px;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
