.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.center {
  flex: 1;
  padding: 20px;
  padding-left: 6rem;
}

.description {
  margin: 1rem 0 2rem 0;
}

.social-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon:nth-child(1) {
  background-color: #3b5999;
}
.icon:nth-child(2) {
  background-color: #e4405f;
}
.icon:nth-child(3) {
  background-color: #55acee;
}
.icon:nth-child(4) {
  background-color: #e60023;
}

.title {
  margin-bottom: 30px;
  color: #353535;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.list-item {
  width: 50%;
  margin-bottom: 10px;
}

.contact-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link {
  text-decoration: none;
  color: black;
}

.card {
  width: 4rem;
  height: 4rem;
}

.iyzico {
  width: 10rem;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media only screen and (max-width: 1000px) {
  .center {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
  }
  .center {
    display: none;
  }
}
