.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 3rem 9rem 1rem 9rem;
  margin: 0;
  gap: 1rem;
  color: #fbeee0;
  background-color: #212529;
}
.brand {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.center {
  flex: 1;
  padding: 20px;
  padding-left: 6rem;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.description {
  margin: 0 auto;
}

.social-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon:nth-child(1) {
  background-color: #3b5999;
}
.icon:nth-child(2) {
  background-color: #e4405f;
}
.icon:nth-child(3) {
  background-color: #55acee;
}
.icon:nth-child(4) {
  background-color: #e60023;
}
.links {
  font-weight: 600;
}
.title {
  margin-bottom: 30px;
  color: #353535;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.list-item {
  width: 50%;
  margin-bottom: 10px;
}

.contact-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link {
  text-decoration: none;
  color: black;
}

.card {
  width: 4rem;
  height: 4rem;
}

.iyzico {
  width: 10rem;
}

.right {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 1440px) {
  .container {
    font-size: 14px;
    padding: 3rem 6rem 1rem 6rem;
  }
}
@media only screen and (max-width: 1000px) {
  .center {
    display: none;
  }
  .container {
    padding: 2rem 3rem 2rem 3rem;
    gap: 1rem;
  }
  .links {
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    padding: 1rem;
  }

  .footer {
    flex-direction: column;
    gap: 4rem;
  }
  .right {
    align-items: center;
  }
  .brand {
    font-size: 12px;
    align-items: center;
  }
}
@media only screen and (max-width: 320px) {
  .desc {
    text-align: center;
  }
}
