.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  justify-content: center;
  padding: 5rem 0;
  gap: 4rem;
  background-color: #f1faee;
}

.image {
  width: auto;
  height: 36rem;
  object-fit: contain;
}
.left {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.right {
  padding: 2rem 1rem;
}

.header {
  color: #e63946;
  padding-bottom: 2rem;
}
.title {
  color: #023047;
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
  padding: 0 1rem;
  margin: 0;
  gap: 1rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.button {
  background: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 2rem;
}

@media only screen and (max-width: 500px) {
  .image {
    height: 20rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    gap: 0;
  }
}
