.navbar {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 6fr 2fr;
  justify-items: center;
  background: transparent;
  backdrop-filter: blur(12px);
  width: 100%;
  height: 5rem;
  position: fixed;
  background-color: #c9184a;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  left: 0;
}

.logo {
  object-fit: contain;
  width: 5rem;
  height: auto;
}
.cartImg {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 1rem;
}
.cartHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.productQuantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  gap: 10px;
}
.nav {
  color: #14213d;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 100vh !important;
  padding-top: 5rem;
}
.back {
  font-size: 10px;
  padding-left: 4px;
  color: #f7ede2;
}

.modal {
  width: 92% !important;
  margin: 0 auto !important;
}

.list {
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  gap: 1rem;
  margin: 0;
}

.listItem {
  border: 1px solid lightgray;
  display: flex;
  cursor: pointer;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 1rem 1rem 0 0;
  justify-content: space-between;
}
.cart {
  cursor: pointer;
}
.img {
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 140px;
}

.name {
  font-size: 14px;
  color: #14213d;
  margin: 0;
  height: 3rem;
  padding: 10px 10px 0 10px;
}

.price {
  font-weight: 600;
  color: #fb8500;
  padding: 10px;
  margin: 0;
}

.navList {
  background-color: #023047;
  display: flex;
  color: #f1faee;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  padding: 1rem;
  gap: 4px;
  font-size: 14px;
}

.modalDesc {
  padding: 0 1rem;
}
.titles {
  width: 100%;
  cursor: pointer;
}
.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  color: #ffe8d6;
  background-color: #023047;
}
.modalImage {
  width: 100%;
  height: 16rem;
  object-fit: cover;
}
.cartFooter {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  padding: 1rem !important;
}
.navList a {
  border-bottom: 1px solid gray;
  width: 100%;
  line-height: 14px;
  cursor: pointer;
  color: #ffe8d6;
}
.cartModal {
  margin: 0 auto;
  min-width: "36rem";
  width: 92%;
}
@media only screen and (max-width: 768px) {
  .cartModal {
    margin: 0 auto;
    min-width: "12rem";
    width: 96%;
  }
  .buttons {
    padding: 0 !important;
    margin: 0 !important;
  }
}
