.datatable {
  height: 100vh;
  width: 100%;
  overflow: scroll;
  padding: 1rem;
}

.datatableTitle {
  width: 100%;
  font-size: 24px;
  color: #001219;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  padding: 4px 0;
}
.title {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  color: green;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid green;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.modalFooter {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 1rem;
}

.modalHeader {
  padding: 1rem 1rem 10px 1rem;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.modalBody {
  padding: 10px 1rem 1rem 1rem;
  color: #343a40;
}
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border-radius: 4px;
  height: 220px;
  background-color: #eee;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.tableDiv {
  width: 100%;
  height: 48rem;
}
.table {
  overflow: scroll;
  width: 100%;
}
@media only screen and (max-width: 1366px) {
  .table {
    font-size: 12px !important;
  }
  .tableDiv {
    width: 100%;
    height: 40rem;
  }
}
