.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  background-color: #fff;
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw !important;
}

.image {
  object-fit: contain;
  width: auto;
  height: 26rem;
}
.image2 {
  z-index: 2;
  width: auto;
  height: 18rem;
  position: absolute;
  right: 5%;
}
.image3 {
  z-index: 3;
  width: auto;
  height: 12rem;
  position: absolute;
  right: 24%;
}
.images {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12rem;
  padding: 12rem 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.topLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 36rem;
}

.header {
  font-size: 3rem;
  color: #e63946;
  padding: 0;
  margin: 0;
}

.description {
  font-size: 20px;
  font-weight: 400;
  color: #495057;
  margin: 1rem 0 2rem 0;
}
.firstHeader,
.secondHeader,
.thirdHeader {
  margin: 0;
  padding: 0;
}
.first,
.second,
.third {
  padding: 4rem 8rem;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}
.first,
.third {
  background-color: #e07a5f;
  color: #ffe8d6;
}

.second {
  background-color: #a8dadc;
  color: #14213d;
}
.thirdDes,
.secondDes,
.firstDes {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  justify-content: center;
  flex-direction: column;
  padding: 0 6rem;
}
.firstList,
.secondList,
.thirdList {
  line-height: 24px;
}
.secondDes {
  padding: 0 2rem 0 10rem;
}
.thirdDes {
  padding: 0;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.buttonFirst {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 18rem;
  background-color: #f2e9e4;
  border-radius: 2rem;
  height: auto;
}

.circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  background: linear-gradient(135deg, #f34079 40%, #fc894d);
  border-radius: 1.625rem;
}

.buttonFirst:hover .circle {
  width: 100%;
}
.icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ffe8d6;
}

.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1rem;
  height: 0.125rem;
  background: none;
}

.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #ffe8d6;
  border-right: 0.125rem solid #ffe8d6;
  transform: rotate(45deg);
}

.text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1rem;
  color: #2b2d42;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
}

.buttonFirst:hover .arrow {
  background: #ffe8d6;
  transform: translate(10px, 0);
}
.articleHeader {
  background-color: #212529;
  color: #ffe8d6;
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.buttonFirst:hover .text {
  color: #ffe8d6;
}
.articleHeaderMobile {
  display: none;
}

.button {
  background: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  color: #ffe8d6;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 2rem;
}

.stepperMobile {
  display: none;
}

@media only screen and (max-width: 1280px) {
  .image {
    height: 22rem;
  }
  .image2 {
    height: 16rem;
    position: absolute;
    z-index: 2;
    right: 4% !important;
  }
  .image3 {
    height: 12rem;
    position: absolute;
    z-index: 3;
    right: 24% !important;
  }
  .featuresImage1 {
    width: 32rem !important;
    margin: 0 auto;
  }
  .featuresImage2 {
    width: 12rem !important;
    margin: 0 auto;
  }
  .featuresImage3 {
    width: 10rem !important;
    margin: 0 auto;
  }
  .top {
    gap: 8rem;
    padding: 0;
  }

  .first {
    gap: 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .second {
    display: grid;
    grid-template-columns: 7fr 3fr;
    padding: 4rem 6rem;
  }
  .featureimage2 {
    width: 18rem !important;
  }
}

@media only screen and (max-width: 800px) {
  .top {
    flex-direction: column;
    gap: 8rem;
    padding: 0 2rem;
  }
  .image {
    height: 22rem;
  }
  .image2 {
    height: 16rem;
    position: absolute;
    z-index: 2;
    right: 4% !important;
  }
  .image3 {
    height: 12rem;
    position: absolute;
    z-index: 3;
    right: 24% !important;
  }
  .header {
    font-size: 3rem;
  }
  .featuresImage1 {
    width: 22rem !important;
    margin: 0 auto;
  }
  .featuresImage2 {
    width: 12rem !important;
  }
  .featuresImage3 {
    width: 10rem !important;
  }
  .firstDes {
    font-size: 14px;
    padding: 2rem 0;
  }
  .first,
  .second,
  .third {
    padding: 2rem;
  }
  .first {
    gap: 2rem;
  }
  .secondDes {
    font-size: 14px;
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .topLeft {
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
  .container {
    padding-top: 2rem;
  }
  .top {
    flex-direction: column;
    gap: 4rem;
    padding: 0 2rem;
  }

  .header {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
    padding: 0;
    margin: 1rem 0 2rem 0;
    color: gray;
  }
  .image {
    height: 12rem;
  }
  .image2 {
    height: 8rem;
    position: absolute;
    z-index: 2;
    right: 4% !important;
  }
  .image3 {
    height: 6rem;
    position: absolute;
    z-index: 3;
    right: 24% !important;
  }

  .first,
  .second,
  .third {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  .second {
    padding: 2rem 0;
    gap: 2rem;
  }
  .third {
    gap: 2rem;
  }
  .firstDes,
  .secondDes,
  .thirdDes {
    font-size: 14px;
  }
  .secondDes {
    padding: 0rem 2rem;
  }
  .featuresImage1 {
    height: auto;
    width: 18rem !important;
  }

  .stepper {
    display: none;
  }
  .stepperMobile {
    display: block;
    padding: 2rem;
  }

  .articleHeaderMobile {
    background-color: #212529;
    color: #ffe8d6;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 10px 0;
  }

  .buttonFirst {
    width: 16rem;
    margin-bottom: 1rem;
  }
  .buttonFirst:hover .arrow {
    transform: translate(0, 0);
  }
}

@media only screen and (max-width: 325px) {
  .container {
    padding-top: 10rem;
  }
  .image {
    height: 10rem;
  }
  .image2 {
    height: 10rem;
  }
  .featuresImage1 {
    width: 16rem !important;
    margin: 0 auto;
  }
}
