.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  overflow: hidden !important;
}
.wpBtn {
  position: fixed !important;
  width: 3rem !important;
  height: 3rem !important;
  bottom: 2rem !important;
  left: 2rem;
  z-index: 12;
  cursor: pointer;
}
.image,
.image2,
.image3 {
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.image {
  object-fit: contain;
  width: auto;
  height: 26rem;
  user-select: none;
}
.image2 {
  z-index: 2;
  width: auto;
  height: 18rem;
  position: absolute;
  right: 5%;
}
.image3 {
  z-index: 3;
  width: auto;
  height: 12rem;
  position: absolute;
  right: 24%;
}

.images {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.topBox {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.referenceBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  height: 30vh;
}
.references {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.reference {
  filter: grayscale(1);
  transition: all 0.3s ease;
}
.reference:hover {
  filter: grayscale(0);
}
.top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12rem;
  padding: 12rem 0;
  width: 100%;
  height: 70vh;
  color: #fbeee0;
  background-color: #c9184a;
}

.firstButton {
  height: 30vh;
}
.topLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 36rem;
}

.header {
  font-size: 3rem;
  color: #fbeee0;
  padding: 0;
  margin: 0;
}

.description {
  font-size: 20px;
  font-weight: 400;
  color: #fbeee0;
  margin: 1rem 0 2rem 0;
}
.firstHeader,
.secondHeader,
.thirdHeader {
  margin: 0;
  padding: 0;
}
.first,
.second,
.third {
  padding: 4rem 8rem;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}
.first,
.third {
  background-color: #fff;
  color: #212529;
}

.second {
  background-color: #fff;
  color: #212529;
}
.thirdDes,
.secondDes,
.firstDes {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  justify-content: center;
  flex-direction: column;
  padding: 0 6rem;
  background-color: #e5e5e5;
  padding: 4rem;
  border-radius: 1rem 3rem 1rem 3rem;
}
.firstList,
.secondList,
.thirdList {
  line-height: 24px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 4rem;
  justify-content: center;
}
.referencesTitle {
  color: #000814;
}

.buttonFirst {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 18rem;
  background-color: #f2e9e4;
  border-radius: 2rem;
  height: auto;
}

.circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  background: linear-gradient(135deg, #f34079 40%, #fc894d);
  border-radius: 1.625rem;
}

.buttonFirst:hover .circle {
  width: 100%;
}
.icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ffe8d6;
}

.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1rem;
  height: 0.125rem;
  background: none;
}

.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #ffe8d6;
  border-right: 0.125rem solid #ffe8d6;
  transform: rotate(45deg);
}

.text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1rem;
  color: #2b2d42;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
}

.buttonFirst:hover .arrow {
  background: #ffe8d6;
  transform: translate(10px, 0);
}
.articleHeader {
  color: #212529;
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.buttonFirst:hover .text {
  color: #ffe8d6;
}
.articleHeaderMobile {
  display: none;
}

.button {
  background: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  color: #ffe8d6;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 2rem;
}

.stepperMobile {
  display: none;
}
.steps {
  padding: 6rem;
}
.faq {
  padding: 10rem 6rem;
}
@media only screen and (max-width: 1440px) {
  .image {
    width: 32rem !important;
  }
  .image2 {
    width: 10rem !important;
  }
  .image3 {
    width: 5rem !important;
  }
  .header {
    font-size: 2rem;
  }
  .description {
    font-size: 14px;
  }
  .featuresImage1 {
    width: 30rem !important;
    margin: 0 auto;
  }
  .featuresImage2 {
    width: 12rem !important;
    margin: 0 auto;
  }
  .featuresImage3 {
    width: 10rem !important;
    margin: 0 auto;
  }
  .firstDes,
  .secondDes,
  .thirdDes {
    padding: 3rem;
    font-size: 14px;
  }
}

@media only screen and (max-width: 1280px) {
  .top {
    height: 75vh;
  }

  .featuresImage1 {
    width: 32rem !important;
    margin: 0 auto;
  }
  .featuresImage2 {
    width: 12rem !important;
    margin: 0 auto;
  }
  .featuresImage3 {
    width: 10rem !important;
    margin: 0 auto;
  }
  .top {
    gap: 8rem;
    padding: 0;
  }
  .header {
    font-size: 2rem;
  }
  .description {
    font-size: 1rem;
    color: #fff;
  }
  .first {
    gap: 0rem;
    display: grid;
    grid-template-columns: 3fr 9fr;
    padding: 4rem;
    gap: 4rem;
  }
  .second {
    display: grid;
    grid-template-columns: 7fr 3fr;
    padding: 4rem 6rem;
  }
  .third {
    display: grid;
    grid-template-columns: 3fr 7fr;
    padding: 4rem 6rem;
  }
  .featureimage2 {
    width: 18rem !important;
  }
  .steps {
    padding: 4rem;
  }
  .faq {
    padding: 6rem;
  }
}
@media only screen and (max-width: 1024px) {
  .top {
    gap: 6rem;
    height: 100vh;
  }
  .topLeft {
    max-width: 30rem;
  }
  .first,
  .second,
  .third {
    gap: 2rem;
  }
  .firstDes,
  .secondDes,
  .thirdDes {
    padding: 3rem;
    font-size: 12px;
  }
  .featuresImage1 {
    width: 26rem !important;
    margin: 0 auto;
  }
  .featuresImage2 {
    width: 12rem !important;
  }
  .featuresImage3 {
    width: 10rem !important;
  }
}
@media only screen and (max-width: 840px) {
  .top {
    flex-direction: column;
    gap: 8rem;
    padding: 0 2rem;
    height: 100vh;
  }
  .image {
    width: 36rem !important;
  }
  .image2 {
    width: 12rem !important;
  }
  .image3 {
    width: 6rem !important;
    right: 32%;
  }
  .header {
    font-size: 3rem;
  }
  .featuresImage1 {
    width: 32rem !important;
    margin: 0 auto;
  }
  .featuresImage2 {
    width: 12rem !important;
  }
  .featuresImage3 {
    width: 10rem !important;
  }
  .firstDes,
  .secondDes,
  .thirdDes {
    font-size: 14px;
    padding: 2rem;
  }
  .first,
  .second,
  .third {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 8rem;
    padding-top: 0;
  }
  .first {
    padding-top: 12rem;
  }
}
@media only screen and (max-width: 500px) {
  .topLeft {
    align-items: center;
    justify-content: flex-start;
  }
  .referenceImg {
    width: 1rem !important;
    height: 1rem !important;
  }
  .references {
    padding: 0 2rem;
  }
  .container {
    padding-top: 2rem;
  }
  .image {
    width: 20rem !important;
  }
  .image2 {
    width: 7rem !important;
  }
  .topBox {
    height: 100%;
  }
  .image3 {
    width: 4rem !important;
  }
  .top {
    flex-direction: column;
    height: 100vh;
    gap: 4rem;
    padding: 0 2rem;
  }

  .header {
    font-size: 2rem;
  }

  .description {
    font-size: 14px;
    padding: 0;
    margin: 1rem 0 2rem 0;
  }

  .first,
  .second,
  .third {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  .firstDes,
  .secondDes,
  .thirdDes {
    font-size: 12px;
  }

  .featuresImage1 {
    height: auto;
    width: 18rem !important;
  }

  .stepper {
    display: none;
  }
  .stepperMobile {
    display: block;
    padding: 0 2rem;
  }

  .articleHeaderMobile {
    background-color: #212529;
    color: #ffe8d6;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 10px 0;
  }

  .buttonFirst {
    width: 16rem;
    margin-bottom: 1rem;
  }
  .buttonFirst:hover .arrow {
    transform: translate(0, 0);
  }
  .faq {
    padding: 1rem;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    padding-top: 10rem;
    font-size: 12px;
  }
  .stepper {
    display: none;
  }
  .stepperMobile {
    padding: 4rem 2rem;
  }
  .header {
    font-size: 1.8rem;
    margin-top: 3rem;
  }
  .description {
    font-size: 12px;
  }
  .image {
    width: 16rem !important;
  }
  .image2 {
    width: 5rem !important;
  }
  .image3 {
    width: 3rem !important;
  }

  .featuresImage1 {
    width: 16rem !important;
    margin: 0 auto;
  }
  .firstHeader,
  .secondHeader,
  .thirdHeader {
    font-size: 16px;
  }
}
