.container {
  width: 100%;
  height: 86vh;
}
.gridImage {
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  object-fit: cover;
}

.gridHeader {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridOrders {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.orderDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.grids {
  display: grid;
  grid-template-columns: 7fr 3fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 52rem;
  gap: 1rem;
  padding: 1rem;
}
.gridDates {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media only screen and (max-width: 1600px) {
  .grids {
    height: 48rem !important;
  }
}
@media only screen and (max-width: 1366px) {
  .grids {
    height: 40rem !important;
  }
}
@media only screen and (max-width: 1280px) {
  .grids {
    overflow: scroll !important;
    height: 100%;
  }
  .grid {
    height: 34rem !important;
  }
  .orders {
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .grids {
    display: flex;
    overflow: scroll !important;
    height: 64rem !important;
    flex-direction: column;
    gap: 2rem;
  }
  .grid {
    height: 40rem !important;
  }
  .orders {
    margin: 2rem 0 0 0;
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    height: 70vh;
  }
  .grids {
    overflow: scroll !important;
    height: 42rem !important;
    flex-direction: column;
    padding: 0 10px;
    margin: 0;
  }
  .grid {
    height: 20rem !important;
  }
  .orders {
    margin: 0;
    padding: 0;
  }
}
