.container {
  width: 100%;
  height: 100%;
}
.gridImage {
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  object-fit: cover;
}

.gridHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.orders {
  margin-top: 7rem;
}
.gridOrders {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
}

.grids {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 36rem;
  gap: 1rem;
  padding: 2rem;
}
