.container {
  width: 100%;
  height: 100%;
}
.gridImage {
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  object-fit: cover;
}

.gridHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.orders {
  margin-top: 4rem;
}
.gridOrders {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.grids {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 24rem;
  gap: 1rem;
  padding: 0 2rem;
}
