.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  padding: 2rem;
}

.header {
  color: #bc6c25;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  padding: 10px 0;
}

.subTitle {
  color: #001219;
}
.bottom {
  margin: 3rem 0;
}
.startNow {
  border-bottom: 1px solid gray;
  padding: 10px;
  transition: all ease 0.4s;
}

.startNow:hover {
  background-color: #f7ede2;
}

@media only screen and (max-width: 1280px) {
  .header {
    font-size: 20px;
  }
  .subTitle {
    font-size: 14px;
  }
  .bottom {
    margin: 2rem 0 1rem 0;
  }
}
