.container {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  gap: 4rem;
}
.images {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.headers {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.header {
  padding: 1rem;
  margin: 0;
  width: 100%;
  color: #001219;
  text-align: start;
}
.qrs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.qrsModal {
  width: 56rem;
  margin: 0 auto;
  height: 48rem;
  padding: 1rem 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: auto;
}
.deleteDescription {
  margin: 0 10px;
  background-color: lightgray;
  padding: 4px;
}
.qr {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  margin: 1rem;
}
.qrActions {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}
.left {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: grid;
  grid-template-columns: 6fr 4fr;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1rem 2rem;
  flex: 1;
}
.right {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: grid;
  grid-template-columns: 6fr 4fr;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem 2rem;
  gap: 2rem;
  flex: 1;
}

.headerFirst {
  margin: 0;
  padding: 0;
}
.titles {
  color: #001219;
}
.list {
  width: 100%;
}
.grid {
  height: 24rem !important;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.li {
  list-style: none;
}
.listTypeImage {
  width: 12rem;
}
.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.image {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  border-radius: 50%;
}
.qrImg {
  object-fit: contain;
  width: 6rem;
  height: auto;
}
.logo {
  object-fit: contain;
  width: 96px;
  height: auto;
}
.firstContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  gap: 1rem;
}

.formFirst {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  gap: 1px;
}
@media only screen and (max-width: 1600px) {
  .box {
    padding: 1rem;
    gap: 1rem;
  }
  .menuButtons {
    margin: 0;
    padding: 0;
  }
}
@media only screen and (max-width: 1366px) {
  .menuButtons {
    margin-bottom: 0 !important;
  }
  .grid {
    height: 16rem !important;
  }
}
@media only screen and (max-width: 1280px) {
  .box {
    padding: 1rem;
    gap: 1rem;
  }
  .actions {
    flex-wrap: wrap;
  }
  .menuButtons {
    width: 12rem !important;
  }
  .data {
    font-size: 14px;
  }
  .grid {
    height: 16rem !important;
  }
  .qrsModal {
    width: 90%;
    height: 36rem;
  }
}

@media only screen and (max-width: 1000px) {
  .grid {
    height: 16rem !important;
  }
  .right {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .qrsModal {
    width: 90%;
    height: 52rem;
  }
}
@media only screen and (max-width: 768px) {
  .grid {
    height: 14rem !important;
  }
}
@media only screen and (max-width: 500px) {
  .container {
    height: 100%;
  }
  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
  }
  .modal {
    width: 92%;
  }
  .listTypeHeader {
    font-size: 12px;
  }
  .listTypeImage {
    width: 7rem;
  }
  .qr {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .qrActions {
    display: flex;
    flex-direction: row;
    width: 120%;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }
  .qrButtons {
    width: 10rem !important;
    font-size: 12px !important;
  }
  .grid {
    overflow: scroll !important;
  }
  .data {
    width: 48rem !important;
  }
  .box {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 4rem;
  }
  .leftBox {
    padding: 0 1rem;
    width: 100%;
  }
  .images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .qrButtons {
    font-size: 10px !important;
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }
  .actions {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .headerFirst {
    font-size: 1rem;
  }
  .qrsModal {
    width: 90%;
    height: 36rem;
  }
}
