.container {
  padding: 5% 2rem 0 1rem;
  display: grid;
  grid-template-columns: 3fr 7fr;
}

.header {
  padding: 0 1rem;
}

.list {
  width: 30rem;
}

.li {
  list-style: none;
}

.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.image {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  border-radius: 50%;
}
