.container {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar {
  min-width: 12rem;
  height: 90vh;
  background-color: #264653;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0;
  gap: 1rem;
  overflow: auto;
  flex-direction: column;
}
.li {
  color: #fbeee0;
  text-align: center;
}
.sidebarList {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.sidebarHeader {
  color: #fbeee0;
  text-align: center;
}
.box {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  gap: 1rem;
}
.currencies {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 4rem;
}

.headers {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.header {
  padding: 1rem;
  margin: 0;
  width: 100%;
  color: #001219;
  text-align: start;
}
.qrs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.qrsModal {
  width: 56rem;
  margin: 0 auto;
  height: 48rem;
  padding: 1rem 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: auto;
}
.reviews {
  width: 36rem;
  margin: 0 auto;
  height: 34rem;
  padding: 1rem 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: auto;
}
.deleteDescription {
  margin: 0 10px;
  background-color: lightgray;
  padding: 4px;
}

.right {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: grid;
  grid-template-columns: 6fr 4fr;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem 2rem;
  gap: 1rem;
  flex: 1;
}

.headerFirst {
  margin: 0;
  padding: 0;
}
.titles {
  color: #001219;
}
.list {
  width: 100%;
}
.grid {
  height: 36rem !important;
}
.gridReviews {
  height: 24rem !important;
}
.ratingHeaders {
  text-align: center;
  margin: 6px 6px 4px 6px;
}
.ratings {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 1rem;
}
.leftBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 10px 1rem;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32rem;
  overflow: auto;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
}
.li {
  list-style: none;
}
.listTypeImage {
  width: 12rem;
}
.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.image {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  border-radius: 50%;
}
.qrImg {
  object-fit: contain;
  width: 6rem;
  height: auto;
}

.logo {
  object-fit: contain;
  width: 64px;
  height: auto;
  background-color: #fbeee0;
  border-radius: 50%;
}
.firstContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  gap: 1rem;
}

.formFirst {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.menuButtons {
  width: 10rem !important;
}
.link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  gap: 1px;
}
.modalButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  gap: 1rem;
}
@media only screen and (max-width: 1600px) {
  .box {
    padding: 1rem;
    gap: 1rem;
  }
  .menuButtons {
    margin: 0;
    padding: 0;
  }
  .menuButtons {
    width: 12rem !important;
  }
}
@media only screen and (max-width: 1366px) {
  .box {
    padding: 10px;
  }
  .left {
    padding: 0 1rem;
  }
  .right {
    padding: 0 1rem;
  }
  .menuButtons {
    margin-bottom: 0 !important;
    font-size: 14px !important;
  }
  .grid {
    height: 30rem !important;
  }
  .data {
    font-size: 14px !important;
  }
  .left {
    flex: 0;
  }
}
@media only screen and (max-width: 1280px) {
  .box {
    padding: 1rem;
    gap: 1rem;
  }
  .actions {
    flex-wrap: wrap;
  }
  .menuButtons {
    width: 12rem !important;
  }
  .grid {
    height: 28rem !important;
  }
  .data {
    font-size: 14px;
  }

  .qrsModal {
    width: 90%;
    height: 36rem;
  }
}

@media only screen and (max-width: 1000px) {
  .right {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .qrsModal {
    width: 90%;
    height: 52rem;
  }
}
@media only screen and (max-width: 768px) {
  .grid {
    height: 14rem !important;
  }
  .leftBox {
    flex-direction: column;
  }
  .col{
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .sidebar {
    width: 100% !important;
    height: 100vh;
  }
  .container {
    flex-direction: column !important;
    height: 100%;
  }
  .box {
    padding: 0;
  }
}
