.datatable {
  padding: 1rem 20px;
  height: 100vh;
  overflow: scroll;
}

.datatableTitle {
  width: 100%;
  font-size: 24px;
  color: #001219;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  padding: 4px 0;
}
.tableDiv {
  width: 100%;
  height: 48rem;
}
.table {
  overflow: scroll;
  width: 100%;
}
.link {
  text-decoration: none;
  color: green;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid green;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.button {
  cursor: pointer;
  width: 100%;
  height: 2rem;
  border-radius: 50%;
  border: none;
  padding: 1rem !important;
}

.actions {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 1280px) {
  .table {
    font-size: 12px !important;
  }
  .tableDiv {
    width: 100%;
    height: 36rem;
  }
}
